html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 8px;
  padding: 0 1rem;
  color: #512200;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  margin: .7rem 0;
}

p {
  font-family: Georgia, serif;
  line-height: 1.5;
}

.border-box {
  border: 2px solid #9a816d;
  border-left: none;
  border-right: none;
}

dl {
  font-family: Georgia, serif;
  font-size: .875rem;
  overflow: hidden;
  line-height: 1.5;
  padding: .1rem;
}

dt {
  float: left;
  clear: left;
  overflow: hidden;
  width: 50%;
}

dd {
  float: left;
  width: 50%;
  margin: 0;
  font-style: italic;

}

nav {
  text-align: center;
}

a {
  font-family: Dosis, sans-serif;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border: 3px solid #f0eee8;
  background-color: #785439;
  border-radius: 8px;
  margin: 1rem;
  padding: .4em .75em .5em;
}

.link-card:hover {
  background-color: #cabdb2;
}

nav a:hover {
  background-color: #512200;
  border: 3px solid #512200;
}
