html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
.link-card {
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 8px;
  padding: 0 1rem;
  color: #512200;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 1.5;

}

p {
  
}

.border-box {
  border: 2px solid #cabdb2;
  border-left: none;
  border-right: none;
}
