html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 8px;
  padding: 0 1rem;
  color: #512200;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 1.5;
  margin: 1rem 0;
}

p {
  font-family: Georgia, serif;
  font-size: 1.5;
  line-height: 1.5;
}

.border-box {
  border: 2px solid #9a816d;
  border-left: none;
  border-right: none;
}

dl {
  font-family: Georgia, serif;
  font-size: .875rem;
  overflow: hidden;
}

dt{
float: left;
clear: left;
overflow: hidden;
width: 50%;
}

dd {
  float: left;
  width: 50%;
  margin: 0;
  font-style: italic;

}

.btn {
  text-align: center;
}

nav {
  text-align: center;
  margin: 1rem;
  padding:.4em .75em .5em;
  display: inline-block;
  border: 3px solid #785439;
  background-color: #785439;
  border-radius: 8px;
}

nav a {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

/* hover color button #512200
hover body div color #dcd4cd */
